<div class="list-of-items">
  <div class="list-of-items__header">
    <div class="list-of-items__table-id">ID</div>
    <div class="list-of-items__table-name">NAME</div>
    <div class="list-of-items__table-time">TIME</div>
  </div>
  <div *ngFor="let item of dataItems; let i = index"
       class="list-of-items__table">
    <div class="list-of-items__table-id">
      {{item.id}}</div>
    <div class="list-of-items__table-name">
      {{item.name}}</div>
    <div class="list-of-items__table-time">
      {{item.last_active | date: 'short'}}
    </div>
  </div>
</div>
