.list-of-items{
  &__header{
    display: flex;
    width: 1000px;
  }
  &__table{
    display: flex;
    width: 1000px;
    //border: 1px solid black;
    &-id{
      width: 50px;
      //border: 1px solid red;
    }
    &-name{
      width: 500px;
      //border: 1px solid red;
    }
    &-time{
      //border: 1px solid red;
    }
  }

}
